---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import StatsBar from '../components/StatsBar.astro';
import ExperienceTimeline from '../components/ExperienceTimeline.astro';
import ProjectDeepDive from '../components/ProjectDeepDive.astro';
import TechStack from '../components/TechStack.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <StatsBar />
    <ExperienceTimeline />
    <ProjectDeepDive />
    <TechStack />
  </main>
  <Footer />
</BaseLayout>
